<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="fileAppender" fileName="logs/log.log">
            <PatternLayout>
                <Pattern>%d{dd.MM.yyyy HH:mm:ss} [%t] %-5p %c %M - %msg%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="fileAppender" level="DEBUG"/>
        </Root>
    </Loggers>
</Configuration>