@import url(fontawesome-free-5.0.6/web-fonts-with-css/css/fontawesome-all.min.css);

body {
    background: url(/img/bg.jpg) no-repeat;
    background-size: cover;
    text-align: center;
}

header {
    background-color: #314D68;
    opacity: 0.5;
}

footer {
    color: white;
}

.navigation-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

#navbarSupportedContent {
    justify-content: flex-end;
}

#errorParagraph {
    color: red;
    font-family: 'Slabo 27px', serif;
}

.navigation-bar-item {
    color: white !important;
}

.login-container {
    color: white;
}

.loginForm {
    width: 40%;
    margin: 0 auto;
}

.formDiv {
    width: 40%;
    margin: 2% auto;
    background: rgba(123, 34, 45, 0.5);
    color: white;
}

.mainContent {
    width: 90%;
    margin: 0 auto;
    background: white;
    opacity: 0.7;
}

.filmPanel {
    width: 100%;
    overflow: hidden;
    padding: 2%;
    display: flex;
}

.filmPanel .filmImage {
    width: 30%;
    padding-right: 1%;
}

.imgDimension1 {
    flex: 1;
}

.imgDimension2 {
    flex: 0.994;
}

.filmImage.lastImage {
    padding-right: 0;
}

.filmImage img {
    width: 100%;
}

.ratingPanel {
    display: flex;
    margin-bottom: 15px;
    background-color: #314D68;
    box-shadow: 0 1px 2px 1px #000;
    width: 100%;
}

/*
   Styles for container
 */

.mainContent_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content {
    flex: 0.5;
}

.filter {
    flex: 0.5;
}

/*
    Styles for panel and inner items
 */

/*
    Common styles
 */

.rating-panel-image,
.rating-panel-content,
.rating-panel-degree {
    display: flex;
    align-items: center;
    flex: 1;
}

.rating-panel-image {
    justify-content: flex-start;
}

.rating-panel-image img {
    height: 100px;
}

.rating-panel-content {
    justify-content: center;
    background-color: transparent;
    opacity: 0.7;
}

.rating-panel-content a {
    color: white;
    text-decoration: none;
}

.rating-panel-degree {
    justify-content: center;
}

.rating-panel-degree strong {
    color: white;
    text-decoration: none;
}

/*
    Styles for film.jsp
 */

.filmContent {
    flex: 0.7;
    background-color: #314D68;
    color: wheat;
}

.filmContent > .filter {
    flex: 0.3;
}

.film-title-item {
    display: flex;
    margin-bottom: 15px;
    box-shadow: 0 1px 2px 0 #000;
    /*width: 100%;*/
}

.film-title-image {
    display: flex;
    flex: 0.5;
}

.film-title-image img {
    height: 50vh;
}

.film-title {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
}

.description-span {
    font-weight: bold;
}

.film-information {
    box-shadow: 0 1px 2px 1px #000;
    padding-bottom: 1rem;
    margin-bottom: 15px;
}

.film-information-item {
    display: flex;
}

.film-information-item-name {
    flex: 0.3;
    display: flex;
    font-weight: bold;
}

.film-information-item-content {
    flex: 0.7;
}

.actor-squad {
    box-shadow: 0 1px 2px 1px #000;
    margin-bottom: 15px;
}

.actor-squad-item {
    display: flex;
    padding-bottom: 1rem;
}

.actor-squad-item a {
    color: wheat;
    text-decoration: none;
}

.actor-squad-image {
    display: flex;
    flex: 0.3;
}

.actor-squad-image img {
    height: 50px;
    width: 40px;
}

.actor-squad-name {
    display: flex;
    align-items: center;
    flex: 0.4;
}

.actor-squad-country {
    flex: 0.2;
    display: flex;
    align-items: center;
}

.film-rating {
    font-weight: bold;
    font-size: 2.5vw;
    box-shadow: 0 1px 2px 1px #000;
    margin-bottom: 15px;
}

.spoiler-span{
    font-size: 0.9rem;
    color: gray;
}

.review-user-rating{
    margin-bottom: 1rem;
}

.review-user-rating-bar{
    display: inline-block;
}

.review-text-item {
    margin-bottom: 1rem;
    box-shadow: 0 1px 2px 1px #000;
}

.review-text p {
    text-align: left;
    color: white;
}

.user-review-edit a {
    color: white;
    display: flex;
    justify-content: center;
}

.user-review-title-panel {
    display: flex;
}

.user-review-image img {
    height: 100px;
}

.user-review-title {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
}

.user-review-rating {
    border: 1px solid #ccc;
    border-radius: 10px;
    display: inline-block;
}

.user-review-rating-title {
    display: flex;
    background-color: #2a344e;
}

.user-review-rating-panel {
    margin: 5px 0;
}

.user-review-content-title {
    display: flex;
    background-color: #2a344e;
}

.user-review-content input{
    margin: 10px 0;
}

.user-review-content textarea{
    margin-bottom: 10px;
}

.user-review-rating > input {
    display: none;
}

fieldset, label {
    margin: 0;
    padding: 2px;
}

.user-review-rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    display: inline-block;
}

.user-review-rating > label {
    color: #ddd;
    float: right;
}

.user-review-rating > input:checked ~ label,
.user-review-rating:not(:checked) > label:hover,
.user-review-rating:not(:checked) > label:hover ~ label {
    color: #FFD700;
}

.user-review-rating > input:checked + label:hover,
.user-review-rating > input:checked ~ label:hover,
.user-review-rating > label:hover ~ input:checked ~ label,
.user-review-rating > input:checked ~ label:hover ~ label {
    color: #FFED85;
}


/*
    Styles for actor.jsp
 */

.actor-content {
    flex: 0.7;
    background-color: #314D68;
    color: wheat;
}

.actor-content > .filter {
    flex: 0.3;
}

.actor-title-item {
    display: flex;
    margin-bottom: 15px;
    box-shadow: 0 1px 2px 0 #000;
}

.actor-title-image {
    display: flex;
    flex: 0.5;
}

.actor-title-image img {
    height: 50vh;
}

.actor-title {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
}

.actor-country-span {
    font-weight: bold;
}

.actor-films-panel {
    box-shadow: 0 1px 2px 1px #000;
    margin-bottom: 15px;
}

.actor-films-item {
    display: flex;
    padding-bottom: 1rem;
}

.actor-films-item a {
    color: wheat;
    text-decoration: none;
}

.actor-films-image {
    display: flex;
    flex: 0.2;
}

.actor-films-image img {
    height: 50px;
    width: 40px;
}

.actor-film-name {
    display: flex;
    align-items: center;
    flex: 0.3;
}

.actor-film-country {
    flex: 0.2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.actor-film-year {
    flex: 0.2;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
    Styles for user.jsp
 */

.user-container{
    width: 50%;
    margin: 0 auto;
    background-color: #314D68;
    color: wheat;
    opacity: 0.7;
}

.user-content {
    flex: 0.7;
    background-color: #314D68;
    color: wheat;
}

.user-content > .filter {
    flex: 0.3;
}

.user-information {
    box-shadow: 0 1px 2px 1px #000;
    padding-bottom: 1rem;
    margin-bottom: 15px;
}

.user-information-item {
    display: flex;
    padding-bottom: 1rem;
}

.user-information-left {
    flex: 0.3;
}

.user-information-right {
    flex: 0.7;
    display: flex;
    justify-content: center;
}

/*
    Styles for admin.jsp
 */
.admin-menu{
    margin-bottom: 1rem;
}

/*
    Styles for admin_user.jsp
 */
.admin-content{
    width: 50%;
    margin: 0 auto;
    background-color: #314D68;
    color: wheat;
    opacity: 0.7;
}

.users-list{
    box-shadow: 0 1px 2px 1px #000;
    padding-bottom: 1rem;
    margin-bottom: 15px;
}

.users-list-item{
    display: flex;
    padding: 1rem 0;
}

.users-list-username{
    flex: 0.3;
}

.users-list-rating{
    flex: 0.4;
}

.users-list-ban{
    flex: 0.3;
}

/*
    Styles for admin_add_film.jsp
 */

.add-film-content{
    width: 60%;
    margin: 0 auto;
    background-color: #314D68;
    color: wheat;
    opacity: 0.7;
}

.add-film-part{
    padding-top: 1rem;
    display: flex;
}

.add-film-part label{
    flex: 0.3;
}

.add-film-part input,textarea,select{
    flex: 0.7;
}

.add-button{
    padding-top: 1rem;
}
